canvas {
  border-style: solid;
  border-width: 2px;
  border-color: #000; }

#viewport-frame:-webkit-full-screen, canvas:-webkit-full-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0; }

.content-navigation {
  border-color: #3bbfce;
  color: #2ca2af; }

.border {
  padding: 8px;
  margin: 8px;
  border-color: #3bbfce; }
