$blue: #3bbfce;
$margin: 16px;

canvas {
  border: {
    style: solid;
    width: 2px;
    color: #000;
  }
}

#viewport-frame:-webkit-full-screen, canvas:-webkit-full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

.content-navigation {
  border-color: $blue;
  color:
    darken($blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}

