$blue: #3bbfce;
$margin: 16px;

canvas {
  border: {
    style: solid;
    width: 2px;
    color: #000;
  }
}

canvas:-webkit-full-screen {
  width:  1024px;
  height: 786px;
}

.content-navigation {
  border-color: $blue;
  color:
    darken($blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}

